body{
    background-image: url("img/background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
h1 {
    color: blue
}
img{
    width: 400px;
}
#thirdDiv {
    height:auto;
    width: 500px;
    padding: 40px;
    border: 50px;
    border: solid;
    border-color: lightsalmon;
    background-image: none;
    background-color:lightcyan;
}
div {
    margin: auto;
}
li {
    background-image: none;
}
#spanId {
    margin: 50px;
}